@model TutorsHub.Application.Models.Stats

@{
    ViewBag.Title = "AdminDashboard";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

   
    <script type="text/javascript">
        window.onload = function () {
               var options = {
                 title: {
                   text: "Subject searched"
                 },
                 data: [{
                   type: "pie",
                     startAngle: 45,
                     showInLegend: "true",
                     legendText: "{label}",
                     indexLabel: "{label} ({y})",
                     yValueFormatString: "#,##0.#" % "",
                     dataPoints: [
                       @foreach (var subject in Model.Subjectstats)
                       {
                           <text> { label: "@subject.Key", y:@subject.Value }, </text>
                       }                     
                     ]

                 }]
            };

            

             var schart = new CanvasJS.Chart("statChart", {
                animationEnabled: true,
                theme: "light2", // "light1", "light2", "dark1", "dark2"
                axisX: {
                    title: "User Role"
                },
                axisY: {
                    title: "User No."
                },
                data: [{
                    type: "column",


                    dataPoints: [
                        { y: @Model.AdminStats , label: "Admin" },
                        { y: @Model.TutorStats, label: "Tutor" },
                        { y: @Model.StudentStats, label: "Student" }

                    ]
                }]
            });




             schart.render();
             $("#chartContainer").CanvasJSChart(options);
        }
    </script>

</head>
<body>
    <br>
    <div class="row">
        <div class="col-sm-1">

        </div>
        <div class="col-lg-5">

            <div class="panel panel-info card">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-5" style="padding-right: 0px;width: 175px;">
                            Subject Stats
                        </div>
                        <div class="col-sm-4 right" style="padding-right: 0px;width: 255px;">

                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div id="chartContainer" style="height: 300px; width: 100%;"></div>

                </div>
            </div>
        </div>


        <div class="col-lg-5">

            <div class="panel panel-info card">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-5" style="padding-right: 0px;width: 175px;">
                            User     Stats
                        </div>
                        <div class="col-sm-4 right" style="padding-right: 0px;width: 255px;">

                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div id="statChart" style="height: 300px; width: 100%;"></div>

                </div>
            </div>
        </div>
    </div>
   






</body>
</html>
