@model Entity.UserModels.User
@{

    Layout = "~/Views/Shared/AdminLayout.cshtml";
}




<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style media="screen">
        .card {
            width: 80%;
        }

        input {
            margin-bottom: 5px;
        }

        table {
            font-size: 20px;
        }
    </style>

</head>
<body>
    <div class="row">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-10">
            <div class="panel panel-info card">
                <div class="panel-heading">
                    NEW USER
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3">

                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">

                                <form method="post">
                                    <input type="text" class="form-control" placeholder="Name" required value="@Model.Name">

                                    <input type="email" class="form-control" placeholder="Email" required value="@Model.Email">

                                    <input type="password" class="form-control in" style="margin-top:5px;" placeholder="Password" equired value="@Model.Password">

                                    <input type="radio" name="">Male
                                    <input type="radio" name="">Female
                                    <br /><label>Birthdate</label>
                                    <input type="date" class="form-control" name="Birthdate" style="margin-top:5px;">

                                    <input type="text" class="form-control" placeholder="Profile Picture URL">

                                    <label>Role</label>
                                    <select class="btn btn-default">
                                        <option name="type">Admin</option>
                                        <option name="type">Executive</option>
                                        <option name="type">User</option>
                                    </select>

                                    <input type="submit" class="btn btn-success" value="Save">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>





