@{
    ViewBag.Title = "Question";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div style="background-color:white; margin:0px 50px; border:1px solid green; width:90%">
    <div style="padding:25px;">
        <input name="" class="form-control in" type="file" value="" style="width:50%" />
        <br />
        <input type="submit" class="form-control btn-info" value="Update" style="width:20%" />
        <br />
        <input type="submit" class="form-control btn-success" value="Download" style="width:20%" />
    </div>

    <div>
        <table class="table table-hover" style="width:80%; margin-left:30px">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Question</th>
                    <th>A</th>
                    <th>B</th>
                    <th>C</th>
                    <th>D</th>
                    <th>Answer</th>
                    <th>Difficulty</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>001</td>
                    <td>What is the Capital City of Bangladesh?</td>
                    <td>Delhi</td>
                    <td>Dhaka</td>
                    <td>Chittagong</td>
                    <td>Noakhali</td>
                    <td>B</td>
                    <td><strong>*</strong></td>
                </tr>
                <tr>
                    <td>002</td>
                    <td>Who is the developer of the programming language C?</td>
                    <td>Steve Job</td>
                    <td>Mark Zuchkerberg</td>
                    <td>Dennis Ritchie</td>
                    <td>Jeff Bezos</td>
                    <td>C</td>
                    <td><strong>**</strong></td>
                </tr>
                <tr>
                    <td>003</td>
                    <td>What is the distance of Sun from Earth?</td>
                    <td>149.6 million km</td>
                    <td>193.2 million km</td>
                    <td>120.2 million km</td>
                    <td>110 million km</td>
                    <td>A</td>
                    <td><strong>***</strong></td>
                </tr>
                <tr>
                    <td>004</td>
                    <td>What is the Capital City of Bangladesh?</td>
                    <td>Delhi</td>
                    <td>Dhaka</td>
                    <td>Chittagong</td>
                    <td>Noakhali</td>
                    <td>B</td>
                    <td><strong>*</strong></td>
                </tr>
                <tr>
                    <td>005</td>
                    <td>Who is the developer of the programming language C?</td>
                    <td>Steve Job</td>
                    <td>Mark Zuchkerberg</td>
                    <td>Dennis Ritchie</td>
                    <td>Jeff Bezos</td>
                    <td>C</td>
                    <td><strong>**</strong></td>
                </tr>
                <tr>
                    <td>006</td>
                    <td>What is the distance of Sun from Earth?</td>
                    <td>149.6 million km</td>
                    <td>193.2 million km</td>
                    <td>120.2 million km</td>
                    <td>110 million km</td>
                    <td>A</td>
                    <td><strong>***</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>