@model ATP2.Profile.Models.EditPasswordModel
    



<fieldset>
    <legend><b>CHANGE PASSWORD</b></legend>
    <form method="post">
        <table>
            <tr>
                <td><font size="3">Current Password</font></td>
                <td>:</td>
                <td><input type="password" name="CurrentPassword" /></td>
                <td></td>
            </tr>
            <tr>
                <td><font size="3" color="green">New Password</font></td>
                <td>:</td>
                <td><input type="password" name="NewPassword" /></td>
                <td></td>
            </tr>
            <tr>
                <td><font size="3" color="red">Retype New Password</font></td>
                <td>:</td>
                <td><input type="password" name="RNewPassword" /></td>
                <td></td>
            </tr>
        </table>
        <label style="color: red">@ViewData["ErrorMessage"]</label> 
        <hr />
        <input type="submit" value="Submit" />
    </form>
</fieldset>