@model ATP2.Profile.Models.HomeModels.ForgotPasswordModel

@{
    Layout = "~/Views/Shared/Public_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgotPassword</title>
</head>
<body>
<div>
    <fieldset>This is message box</fieldset>
    <br/>
    <fieldset>
        <legend><b>FORGOT PASSWORD?</b></legend>
        <br />
        <form method="post">
            Enter Email:
            <input name="email" />
            <hr />
            <input type="submit" value="Submit" />
        </form>
    </fieldset>
</div>
</body>
</html>
