@model ATP2.Profile.Models.HomeModels.ForgotPasswordModel

@{
    Layout = "~/Views/Shared/Public_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        body, legend {
            color: white;
        }

        .bar {
            background-color: #2E4053;
        }

        .top {
            height: 94px;
        }

        .mid {
            height: 400px;
        }
        body{
            color: white;
        }

        td {
            padding-left: 10px;
        }
    </style>

</head>
<body>
    <br><br>
    <div class="container bar top">
        <div class="row">
            <div class="col-sm-7">
                <img width="300px" src="logo.png" alt="">
            </div>
            <div class="col-sm-5">
                <table>
                    <br>
                    <tr>
                        <td>
                            <input type="text" class="form-control" placeholder="Email">
                        </td>
                        <td>
                            <input type="text" class="form-control" placeholder="Password">
                        </td>
                        <td>
                            <input type="submit" class="form-control" value="Log In">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="checkbox">
                                <label><input type="checkbox"> Remember me</label>
                            </div>
                        </td>
                        <td>
                            @Html.ActionLink("Forgot Password?", "ForgotPassword", "Home")
                        </td>
                        <td align="center">
                            @Html.ActionLink("Registration", "Registration", "Home")
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <br>



    <div class="container bar mid">
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
                <h1 align="center">Register</h1>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-3">

            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <form method="post">
                        <label for="sel1">Email:</label>
                        <input type="text" class="form-control">
                        <input type="submit" class="form-control" value="Register">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="container bar">
        <footer align="center">AIUB</footer>
    </div>


</body>

</html>
