@model ATP2.Profile.Models.HomeModels.LoginModel
@{
    Layout = null ;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TutorsHub</title>
    <link rel="stylesheet" type="text/css" href="~/Scripts/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/bootstrap.min.css" />
</head>
<body>
    <nav class="navbar navbar-inverse" style="border-radius: 0px;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" style="font-weight: bolder; font-size: 25px;">Tutor Hub</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form style="padding-top: 15px;">
                        <div class="form-group form-inline" style="padding-right: 15px;">
                            <input class="form-control" type="text" name="" placeholder="Email">
                            <input class="form-control" type="text" name="" placeholder="Password">
                            <input type="submit" class="btn btn-primary" name="" value="Login">
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name=""> <span class="text-info">Remember Me</span>
                            @Html.ActionLink("Forgot Password?", "ForgotPassword", "Home")
                            @Html.ActionLink("Registration","Registration","Home")
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6" style="padding-top: 4%;">
                <div class="alert alert-info" style="text-align: center;">
                    <h2>Find Tutor</h2>
                </div>
                <br>
                <form>
                    <div class="form-group">
                        <label>Location</label>
                        <select class="btn btn-success">
                            <option>Mirpur</option>
                            <option>Banani</option>
                            <option>Gulshan</option>
                            <option>Dhanmondi</option>
                            <option>Uttora</option>
                        </select>
                        <label>Gender</label>
                        <select name="gender" class="btn btn-info">
                            <option>Male</option>
                            <option>Female</option>
                            <option>Any</option>
                        </select>
                        <label>Choose Class</label>
                        <select name="class" class="btn btn-danger">
                            <option>Class 1</option>
                            <option>Class 2</option>
                            <option>Class 3</option>
                            <option>Class 4</option>
                            <option>Class 5</option>
                            <option>Class 6</option>
                            <option>Class 7</option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 form-inline">
                            <input type="number" class="form-control" name="min" placeholder=" Minimum Salary"> -
                            <input type="number" class="form-control" name="max" placeholder="Maximum Salary">
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="checkbox" name="" value="">Bangla
                        <input type="checkbox" name="" value="">English
                        <input type="checkbox" name="" value="">Math
                        <input type="checkbox" name="" value="">Physics
                        <input type="checkbox" name="" value="">Chemistry
                        <input type="checkbox" name="" value="">Biology
                        <br><br>
                        <input type="submit" style="padding: 15px; font-size: 20px;" class="btn btn-success btn-block " name="submit" value="Search">
                    </div>
                </form>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
</body>
</html>