@{
    Layout = "~/Views/Shared/Public_Layout.cshtml";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>

    td {
        margin-bottom: 10px;
        padding: 10px;
    }

    a {
        text-decoration: none;
        font-weight: 700;
    }

        a:hover {
            color: #f4511e;
        }
</style>


<h3>Welcome to Tutors HUB</h3>