@using System.Web.UI.WebControls

@model ATP2.Profile.Models.LoginModel

@{
    Layout = "~/Views/Shared/Public_Layout.cshtml";
}

<fieldset>
    <legend><b>LOGIN</b></legend>
    <form method="post" >
        <table>
            <tr>
                <td>User Name</td>
                <td>:</td>
                <td><input name="UserName" type="text" value=@Model.UserName></td>
            </tr>
            <tr>
                <td>Password</td>
                <td>:</td>
                <td><input name="Password" type="password" value=@Model.Password></td>
            </tr>
        </table>
        
       
        <label style="color: red">@Html.ValidationSummary()</label> 
        <hr />
        <input name="RememberMe" type="checkbox">Remember Me
        <br/><br/>
        <input type="submit" value="Submit">        
        <a href="#">Forgot Password?</a>
    </form>
</fieldset>