

@{
    Layout = "~/Views/Shared/Public_Layout.cshtml";
    
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TutorsHub | Login</title>
    <link rel="stylesheet" type="text/css" href="~/Scripts/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/bootstrap.min.css" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <div class="alert alert-danger" style="text-align: center;">
                    <h2>Login</h2>
                </div>
                <form onsubmit="return false;">
                    <div class="form-group">
                        <label for="uname">User Name</label>
                        <input type="text" class="form-control" id="uname">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password</label>
                        <input type="password" class="form-control" id="pwd">
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox"> Remember me</label>
                    </div>
                    <input type="submit" id="loginbtn" class="btn btn-success" value="Log In">
                    <a href="#">Forget Your Password</a>
                </form>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>
    <script type="text/javascript" src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#loginbtn').click(function () {
                var uname = 'helloworld';
                var password = 'dlrowolleh';
                if (true/*$('#uname').val() == uname && $('#pwd').val() == password*/) {
                    window.location.replace("home.html");
                } else {
                    alert('user name: ' + uname + '\nPassword: ' + password);
                }

            });
        });
    </script>
</body>
</html>