@model ATP2.Profile.Models.ProfilePictureModel

@{
    Layout = "../Shared/Loggedin_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profile</title>
</head>
<body>
    <div>
        <fieldset>
            <legend><b>PROFILE PICTURE</b></legend>
            <form>
                <img width="128" src="../image/user.png" />
                <br />
                <input type="file">
                <hr />
                <input type="submit" value="Submit">
            </form>
        </fieldset>
    </div>
</body>
</html>
