@model ATP2.Profile.Models.HomeModels.RegistrationModel
@{
    Layout = "~/Views/Shared/Public_Layout.cshtml";
}



<html>
<head>
    
</head>
<body>
<div>

    <form method="post">
        <fieldset>
            <legend>Registration</legend>
            <table align="center">
                <tr>
                    <td class="left">Email</td>

                    <td class="right">
                        <input type="text" name="email" size="20" value="@Model.Email"/><br/>
                    </td>
                </tr>

                <tr>
                    <td class="left">
                        Password
                    </td>

                    <td class="right">
                        <input type="password" name="Password" size="20" value="@Model.Password"/><br/>
                    </td>
                </tr>

                <tr>
                    <td class="left">
                        Confirm Password
                    </td>

                    <td class="right">
                        <input type="password" name="ConfirmPassword" size="20" value="@Model.ConfirmPassword"/><br/>
                    </td>
                </tr>
            </table>
            <div>
                <input type="submit" name="confirm" value="Confirm"/>
            </div>
            <div style="color: red">
                @Html.ValidationSummary()
            </div>
         
        </fieldset>
    </form>
    
</div>
</body>
</html>