
@{
    Layout = "~/Views/Shared/Public_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TutorsHub | Registration</title>
    <link rel="stylesheet" type="text/css" href="~/Scripts/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/bootstrap.min.css" />
</head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <div class="alert alert-danger" style="text-align: center;">
                        <h2>Registration</h2>
                    </div>
                    <form>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Password</label>
                            <input type="password" class="form-control" id="pwd">
                        </div>
                        <div class="form-group">
                            <label for="cpwd">Confirm Password</label>
                            <input type="password" class="form-control" id="cpwd">
                        </div>
                        <input type="submit" class="btn btn-success" value="Register">
                        <a href="login.html">Back To Login</a>
                    </form>
                </div>
                <div class="col-lg-4"></div>
            </div>
        </div>
    </body>

</html>




