@model ATP2.Profile.Models.HomeModels.RegistrationModel
@{
    Layout = "~/Views/Shared/Public_Layout.cshtml";
}



<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        a {
            text-decoration: none;
            font-weight: 700;
        }

            a:hover {
                color: #f4511e;
            }

        td {
            margin-bottom: 10px;
            padding: 10px;
        }
    </style>
</head>
<body>
<div>

    <form method="post">
        <fieldset>
            <legend>Registration</legend>
            <table align="center">
                <tr>
                    <td class="left">Email</td>

                    <td class="right">
                        <input type="text" name="email" size="20"/><br/>
                    </td>
                </tr>

                <tr>
                    <td class="left">
                        Password
                    </td>

                    <td class="right">
                        <input type="password" name="textpass" size="20"/><br/>
                    </td>
                </tr>

                <tr>
                    <td class="left">
                        Confirm Password
                    </td>

                    <td class="right">
                        <input type="password" name="cpassword" size="20"/><br/>
                    </td>
                </tr>
            </table>
            <div>
                <input type="submit" name="confirm" value="Confirm"/>
            </div>
        </fieldset>
    </form>
    
</div>
</body>
</html>