
@{
    Layout = "~/Views/Shared/Public_Layout.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TutorsHub | Search</title>
    <link rel="stylesheet" type="text/css" href="~/Scripts/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/bootstrap.min.css" />
</head>
<body>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="alert alert-success" style="text-align: center;">
                    <h2>Search</h2>
                </div>
                <form>
                    <label>Gender</label>
                    <select name="gender" class="btn btn-info">
                        <option>Male</option>
                        <option>Female</option>
                        <option>Any</option>
                    </select>
                    <label>Choose Class</label>
                    <select name="class" class="btn btn-danger">
                        <option>Class 1</option>
                        <option>Class 2</option>
                        <option>Class 3</option>
                        <option>Class 4</option>
                        <option>Class 5</option>
                        <option>Class 6</option>
                        <option>Class 7</option>
                    </select>
                    <br>

                    <div class="row">
                        <div class="col-lg-3">

                        </div>
                        <div class="col-lg-6">
                        <label>Salary Minimum</label>
                        <input type="number" class="form-control" name="min"> -
                        <input type="number" class="form-control" name="max">
                        <label>Salary Maximum</label>
                        <br>
                        <input type="submit" class="btn btn-success btn-block" name="submit" value="Search">
                        </div>
                    </div>
                    <br>
                </form>
            </div>
            <div class="col-lg-3"></div>
        </div>

        <div class="row">
            <div class="col-lg-2">

            </div>
            <div class="col-lg-6">
                @Html.ActionLink("Tanzim","ViewTutor")
            </div>
        </div>
    </div>
</body>
</html>