
@{
    
    Layout = "../Shared/Public_Layout.cshtml";
   
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Profile</title>
</head>
<body>
<div>
<fieldset>
<legend>
    <b>PROFILE</b>
</legend>


<div class="container">

<div class="wrap">

<div class="left">
  
    <table>
        <tr>
            <td> <img src="~/image/user.png" width="100px" /> </td>
        </tr>
        <tr>
            <td align="center"><label>Tanzim</label></td>
        </tr>
        <tr>
            <td>Salary: </td>
            <td>5000 TK</td>
        </tr>
        <tr>
            <td>Subjects: </td>
            <td>English</td>
        </tr>
        <tr>
            <td></td>
            <td>Math</td>
        </tr>
        <tr>
            <td></td>
            <td>Science</td>
        </tr>
    </table>




    <table cellspacing="10">
        <tr>
            <td colspan="2">
                <h2>
                    Request this Tutor
                </h2>
        <table>
            <tr>
                <td colspan="2">
                    <b> Name </b> <br> <input type="text" name="senderName" size="35"> <br>
                    <b> Phone No </b> <br> <input type="text" name="senderPhone" size="35"> <br>
                    <b> Email </b> <br> <input type="text" name="senderEmail" size="35"> <br>
                    <b> Message </b> <br> <textarea name="senderMsg" cols="37" rows="5"></textarea> <br> <br>
                    <button type="button" class="button">Request</button>

                </td>
            </tr>
        </table>
                </tr>
           

    </table>


</div>
</div>
</div>

</fieldset>
</div>
</body>
</html>