
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/TutorLayout.cshtml";
}


<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <title>Home</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../CSS/style.css" rel="stylesheet">
</head>

<body >

<div >
    <div class="section-blog"> 
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-sm-12">
                    <div class="articles">

                        <div class="article">
                            <a href="#">
                                <img src="./images/birds.png">
                            </a>
                            <div class="inner">
                                <h3>
                                    <a href="/Tutor/BlogContent">Article title</a>
                                </h3>
                            </div>
                        </div>

                        <div class="article">
                            <a href="./post.html">
                                <img src="./images/birds.png" width="100%">
                            </a>
                            <div class="inner">
                                <h3>
                                    <a href="/Tutor/BlogContent">Article title</a>
                                </h3>
                            </div>
                        </div>

                        <div class="article">
                            <a href="./post.html">
                                <img src="./images/birds.png" width="100%">
                            </a>
                            <div class="inner">
                                <h3>
                                    <a href="/Tutor/BlogContent">Article title</a>
                                </h3>
                            </div>
                        </div>
                        <br>

                        <div class="article">
                            <a href="./post.html">
                                <img src="./images/birds.png" width="100%">
                            </a>
                            <div class="inner">
                                <h3>
                                    <a href="/Tutor/BlogContent">Article title</a>
                                </h3>
                            </div>
                            <br>
                        </div>

                        <div class="article">
                            <a href="/Tutor/BlogContent">
                                <img src="./images/birds.png" width="100%">
                            </a>
                            <div class="inner">
                                <h3>
                                    <a href="/Tutor/BlogContent">Article title</a>
                                </h3>
                            </div>
                        </div>

                        <div class="article">
                            <a href="/Tutor/BlogContent">
                                <img src="./images/birds.png" width="100%">
                            </a>
                            <div class="inner">
                                <h3>
                                    <a href="/Tutor/BlogContent">Article title</a>
                                </h3>
                            </div>
                        </div>

                    </div>
                    <div class="pagination-links">
                        <span class="pagination-link">&larr; Newer posts</span>
                        <span class="pagination-link">
                            <a href="#">Older posts &rarr;</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>