
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/TutorLayout.cshtml";
}

<h2>Payment</h2>

<div class="form-group">
    <label style="color: red">On HOLD: 5000/=</label>
 
</div>
<div class="form-group">
    <label style="color: green" >Balance : 10000/=</label>
</div>
<input type="submit" id="loginbtn" class="btn btn-success" value="Withdraw">