
@{
    ViewBag.Title = "StudentList";
    Layout = "~/Views/Shared/TutorLayout.cshtml";
}

<head>
    <meta http-equiv="Content-Type" content="text/html charset=utf-8" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link type="text/css" rel="stylesheet" href="css/style.css">
    <link type="text/css" rel="stylesheet" href="css/responsive.css">

    <title>Index</title>
</head>

<body>
    
    
    
<h1 class="text-center text-primary">Student List</h1>
<table class="table table-hover table-responsive table-striped">
    <thead>
    <tr>
        <th scope="col" class="col-sm-2 text-right">#</th>
        <th scope="col" class="col-sm-4">First Name</th>
        <th scope="col" class="col-sm-4" >Last Name</th>
        <th scope="col"  class="col-sm-2">Details</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row"   class="col-sm-2 text-right">1</th>
        <td class="col-sm-4">Mark</td>
        <td class="col-sm-4">Otto</td>
        <td class="col-sm-2"> <a href="#" class=""><button class="btn btn-success"> <span class="glyphicon glyphicon-eye-open">&nbsp;</span>Details</button></a></td>
    </tr>    <tr>
        <th scope="row"   class="col-sm-2 text-right">1</th>
        <td class="col-sm-4">Mark</td>
        <td class="col-sm-4">Otto</td>
        <td class="col-sm-2"> <a href="#" class=""><button class="btn btn-success"> <span class="glyphicon glyphicon-eye-open">&nbsp;</span>Details</button></a></td>
    </tr>    <tr>
        <th scope="row"   class="col-sm-2 text-right">1</th>
        <td class="col-sm-4">Mark</td>
        <td class="col-sm-4">Otto</td>
        <td class="col-sm-2"> <a href="#" class=""><button class="btn btn-success"> <span class="glyphicon glyphicon-eye-open">&nbsp;</span>Details</button></a></td>
    </tr>    <tr>
        <th scope="row"   class="col-sm-2 text-right">1</th>
        <td class="col-sm-4">Mark</td>
        <td class="col-sm-4">Otto</td>
        <td class="col-sm-2"> <a href="#" class=""><button class="btn btn-success"> <span class="glyphicon glyphicon-eye-open">&nbsp;</span>Details</button></a></td>
    </tr>    <tr>
        <th scope="row"   class="col-sm-2 text-right">1</th>
        <td class="col-sm-4">Mark</td>
        <td class="col-sm-4">Otto</td>
        <td class="col-sm-2"> <a href="#" class=""><button class="btn btn-success"> <span class="glyphicon glyphicon-eye-open">&nbsp;</span>Details</button></a></td>
    </tr>

   
    </tbody>
</table>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="js/main.js"></script>
</body>

