
@{
    ViewBag.Title = "Timer";
    Layout = "~/Views/Shared/TutorLayout.cshtml";
}

<html>
<head>
    
</head>
<body>
<img src="../../image/user.png" alt="User Image">



<br/><br/><b>Name :</b><b>Afif </b>
<br/>
<b>Date : @DateTime.Now</b>

<h2><time>00:00:00</time>
</h2>
<button id="start">Clock In</button>
<button id="stop">Clock Out</button>
</body>
</html>
<style>


    #start {
        margin: 40px auto;
        text-align: center;
        color: #DAD6D6;
        background: #48633B;
        border:solid 2px #35492C;
        border-radius:5px;
        padding:16px 40px 16px;
        letter-spacing: 2px;
        cursor:pointer;
    }

    #stop {
        margin: 40px 5px auto;
        text-align: center;
        color: #DAD6D6;
        background: #721329;
        border:solid 2px #590F20;
        border-radius:5px;
        padding:16px 40px 16px;
        letter-spacing: 2px;
        cursor:pointer;
    }

    h2
    {
        font-size: 46px;
        letter-spacing: 2px;
        margin: 100px 0 0 ;
    }
</style>

<script>

    var h1 = document.getElementsByTagName('h2')[0],
        start = document.getElementById('start'),
        stop = document.getElementById('stop'),
        clear = document.getElementById('clear'),
        seconds = 0, minutes = 0, hours = 0,
        t;

    function add() {
        seconds++;
        if (seconds >= 60) {
            seconds = 0;
            minutes++;
            if (minutes >= 60) {
                minutes = 0;
                hours++;
            }
        }
    
        var tt = (hours ? (hours > 9 ? hours : "0" + hours) : "00") + ":" + (minutes ? (minutes > 9 ? minutes : "0" + minutes) : "00") + ":" + (seconds > 9 ? seconds : "0" + seconds);
        h1.textContent = tt;
        timer();
    }
    function timer() {
        t = setTimeout(add, 1000);
    }
//timer();


/* Start button */
    start.onclick = timer;

/* Stop button */
    stop.onclick = function() {
        clearTimeout(t);
    }

</script>

