@{
    ViewBag.Title = "Edit Profile";
    Layout = "~/Views/Shared/StudentLayout.cshtml";
}
<div style="background-color:white; margin:0px 50px; padding:5px">
    <div class="col-sm-6" style="border:1px solid green; padding:15px">
        <div class="form-group">
            <label>First Name : </label>
            <input type="text" class="form-control" id="firstName">
            <br/>
            <label>Last Name : </label>
            <input type="text" class="form-control" id="lastName">
            <br />
            <label>Email : </label>
            <input type="email" class="form-control" id="email">
            <br />
            <label>Phone : </label>
            <input type="text" class="form-control" id="phone">
            <br />
            <label>Location : </label>
            <input type="text" class="form-control" id="location">
        </div>
    </div>
    <div class="col-sm-4"  style="border:1px solid green; margin-left:20px; height:420px; padding:20px">
        <p>Chaoose a photo to change profile picture :</p>
        <label for="imgupload" class="btn btn-info">Brwoose</label>
        <hr/>
        <input type="file" name="file" id="imgupload" style="display:none" onchange="viewimg(this)"/>
        <img src="" id="viewimg" />
    </div>
    <div class="col-sm-4" style="padding:20px; margin-left:40px">
        <button type="button" class="btn btn-info" style="float:right">Submit</button>
    </div>
</div>
<script>
    function viewimg(event1)
    {
        var selectedFile =URL.createObjectURL(event.target.files[0]);
        document.getElementById('viewimg').src = selectedFile;
    }
</script>