@{
    ViewBag.Title = "Exam Result";
    Layout = "~/Views/Shared/StudentLayout.cshtml";
}
<div style="background-color:white; border:1px solid green;margin:0px 50px">
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Subject</th>
                <th scope="col">Obtained Marks</th>
                <th scope="col">Height Mark</th>
                <th scope="col">Grade</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>10-11-2017</td>
                <td>Math</td>
                <td>80</td>
                <td>94</td>
                <td>A+</td>
            </tr>
            <tr>
                <td>14-12-2017</td>
                <td>Bangla</td>
                <td>72</td>
                <td>73</td>
                <td>A</td>
            </tr>
            <tr>
                <td>18-12-2017</td>
                <td>Chemistry</td>
                <td>79</td>
                <td>88</td>
                <td>A</td>
            </tr>
            <tr>
                <td>25-12-2017</td>
                <td>English I</td>
                <td>67</td>
                <td>83</td>
                <td>A-</td>
            </tr>
            <tr>
                <td>29-12-2017</td>
                <td>Math</td>
                <td>86</td>
                <td>92</td>
                <td>A+</td>
            </tr>
        </tbody>

</table>
</div>