@{
    ViewBag.Title = "Detailed";
    Layout = "~/Views/Shared/StudentLayout.cshtml";
}
<style>
    table > tbody > tr > th {
        height: 55px;
    }
</style>

<div style="background-color:white; border:1px solid green;margin:0px 50px">
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Notification</th>
                <th scope="col">Uloaded By</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>I will not come tomorrow</td>
                <td>Misu</td>
                <td>.17-11-2017</td>
            </tr>
            <tr>
                <td>Your math exam is tomorow</td>
                <td>Hiron</td>
                <td>.17-11-2017</td>
            </tr>
            <tr>
                <td>File(s) uploaded</td>
                <td>Hiron</td>
                <td>.17-11-2017</td>
            </tr>
            <tr>
                <td>A file is uploaded. You may study. I hope you will engoy it</td>
                <td>Alif</td>
                <td>.17-11-2017</td>
            </tr>
            <tr>
                <td>File(s) uploaded</td>
                <td>Misu</td>
                <td>.17-11-2017</td>
            </tr>
        </tbody>
    </table>
</div>