@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/StudentLayout.cshtml";
}
<style>
    table > tbody > tr > th {
        height: 55px;
    }
</style>

<div style="background-color:white; border:1px solid green;margin:0px 50px; padding-left:50px; width:700px">
    <form>
        <div>
            <label>Select Tutor :</label>
            <select class="form-control" id="tutor">
                <option value=""></option>
                <option value="Hiron">Hiron</option>
                <option value="Sofiq">Sofiq</option>
                <option value="Nisu">Nisu</option>
            </select>
            <br/>
        </div>
        <div class="form-group" id="date">
            <label>Select Date :</label>
            <select class="form-control" id="date">
                <option value=""></option>
            </select>
            <br/>
        </div>
        <div class="form-group" id="tutor">
            <label>Select Tutor :</label>
            <select class="form-control" id="time">
                <option value=""></option>
                <option value="08AM - 10AM">08AM - 10AM</option>
                <option value="10AM - 12PM">10AM - 12PM</option>
                <option value="12PM - 02PM">12PM - 02PM</option>
                <option value="02PM - 04PM">02PM - 04PM</option>
                <option value="04PM - 06PM">04PM - 06PM</option>
                <option value="06PM - 08PM">06PM - 08PM</option>
                <option value="08PM - 10PM">08PM - 10PM</option>
            </select>
            <br/>
        </div>
        <label>Comment :</label>
        <div class="form-group" id="comment">
            <textarea rows="6" cols="80" placeholder="Comment here..."></textarea>
            <br/>
        </div>
        <div class="form-group" id="submit" style="margin-bottom:30px">
            <button type="button" class="btn btn-info" style="margin-bottom:-20px">Submit</button>
        </div>
    </form>
</div>