@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/StudentLayout.cshtml";
}
<div style="background-color:white; margin:0px 20px; padding:5px">


    <div class="row" style="border:1px solid green; margin-left:20px; height:200px; padding:20px">
        <div class="col-lg-2">
            <img src="../../images/user.png" alt="Alternate Text" style="width:140px;" />
        </div>
        <div class="col-lg-2">
            <table class="table text-center">
                <tr class="success">
                    <td>
                        <label>Tazim</label>
                    </td>
                </tr>
                <tr class="info">
                    <td>
                        <label>2/4/2017</label>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-lg-2 ">
            <table class="text-center table ">
                <tr class="success">
                    <td><label>Start</label></td>
                </tr>
                <tr class="info">
                    <td><label>12:00 pm</label></td>
                </tr>
                <tr class="success">
                    <td><label>End</label></td>
                </tr>
                <tr class="info">
                    <td><label>2:00 pm</label></td>
                </tr>
            </table>
        </div>
        <div class="col-lg-4">
            <textarea rows="5" cols="50" placeholder="Write here..."></textarea>
            <br />
            <br />

            <button type="button" class="btn btn-info" style="margin-left:310px">Report</button>
        </div>
    </div>
    <br />

    <div class="row" style="border:1px solid green; margin-left:20px; height:200px; padding:20px">
        <div class="col-lg-2">
            <img src="../../images/user.png" alt="Alternate Text" style="width:140px;" />
        </div>
        <div class="col-lg-2">
            <table class="table text-center">
                <tr class="success">
                    <td>
                        <label>Sajib</label>
                    </td>
                </tr>
                <tr class="info">
                    <td>
                        <label>4/4/2017</label>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-lg-2 ">
            <table class="text-center table ">
                <tr class="success">
                    <td><label>Start</label></td>
                </tr>
                <tr class="info">
                    <td><label>3:00 pm</label></td>
                </tr>
                <tr class="success">
                    <td><label>End</label></td>
                </tr>
                <tr class="info">
                    <td><label>5:00 pm</label></td>
                </tr>
            </table>
        </div>
        <div class="col-lg-4">
            <textarea rows="5" cols="50" placeholder="Write here..."></textarea>
            <br />
            <br />

            <button type="button" class="btn btn-info" style="margin-left:310px">Report</button>
        </div>
    </div>

</div>