
@{
    ViewBag.Title = "SchedTutor";
    Layout = "~/Views/Shared/StudentLayout.cshtml";
}
<head>
    <script type="text/javascript">
        function myfunc() {
            var y = document.getElementById("mySelect").value;
            var x = document.getElementById("time").value;
            var z = parseInt(x) + parseInt(y);
            if (z > 12) {
                switch (z) {
                    case 13:
                        document.getElementById("show").innerHTML = 1;
                        break;
                    case 14:
                        document.getElementById("show").innerHTML = 2;
                        break;
                    case 15:
                        document.getElementById("show").innerHTML = 3;
                }
            }
            else {
                document.getElementById('final').innerHTML= x + '-' + z;
                document.getElementById("show").innerHTML = z;
            }
        }
        function myfunc2() {
            var y = document.getElementById("sundaytime").value;
            var x = document.getElementById("stime").value;
            var z = parseInt(x) + parseInt(y);

            if (z > 12) {
                switch (z) {
                    case 13:
                        document.getElementById("show1").innerHTML = 1;
                        break;
                    case 14:
                        document.getElementById("show1").innerHTML = 2;
                        break;
                    case 15:
                        document.getElementById("show1").innerHTML = 3;
                }
            }
            else {
                document.getElementById("show1").innerHTML = z;
            }
        }
        function myfunc3() {
            var y = document.getElementById("mondaytime").value;
            var x = document.getElementById("mtime").value;
            var z = parseInt(x) + parseInt(y);

            if (z > 12) {
                switch (z) {
                    case 13:
                        document.getElementById("show2").innerHTML = 1;
                        break;
                    case 14:
                        document.getElementById("show2").innerHTML = 2;
                        break;
                    case 15:
                        document.getElementById("show2").innerHTML = 3;
                }
            }
            else {
                document.getElementById("show2").innerHTML = z;
            }
        }
        function myfunc4() {
            var y = document.getElementById("tuesdaytime").value;
            var x = document.getElementById("ttime").value;
            var z = parseInt(x) + parseInt(y);

            if (z > 12) {
                switch (z) {
                    case 13:
                        document.getElementById("show3").innerHTML = 1;
                        break;
                    case 14:
                        document.getElementById("show3").innerHTML = 2;
                        break;
                    case 15:
                        document.getElementById("show3").innerHTML = 3;
                }
            }
            else {
                document.getElementById("show3").innerHTML = z;
            }
        }
        function myfunc5() {
            var y = document.getElementById("wedtime").value;
            var x = document.getElementById("wtime").value;
            var z = parseInt(x) + parseInt(y);

            if (z > 12) {
                switch (z) {
                    case 13:
                        document.getElementById("show4").innerHTML = 1;
                        break;
                    case 14:
                        document.getElementById("show4").innerHTML = 2;
                        break;
                    case 15:
                        document.getElementById("show4").innerHTML = 3;
                }
            }
            else {
                document.getElementById("show4").innerHTML = z;
            }
        }
        function myfunc6() {
            var y = document.getElementById("thurtime").value;
            var x = document.getElementById("thtime").value;
            var z = parseInt(x) + parseInt(y);

            if (z > 12) {
                switch (z) {
                    case 13:
                        document.getElementById("show5").innerHTML = 1;
                        break;
                    case 14:
                        document.getElementById("show5").innerHTML = 2;
                        break;
                    case 15:
                        document.getElementById("show5").innerHTML = 3;
                }
            }
            else {
                document.getElementById("show5").innerHTML = z;
            }
        }
        function myfunc7() {
            var y = document.getElementById("fritime").value;
            var x = document.getElementById("ftime").value;
            var z = parseInt(x) + parseInt(y);

            if (z > 12) {
                switch (z) {
                    case 13:
                        document.getElementById("show6").innerHTML = 1;
                        break;
                    case 14:
                        document.getElementById("show6").innerHTML = 2;
                        break;
                    case 15:
                        document.getElementById("show6").innerHTML = 3;
                }
            }
            else {
                document.getElementById("show6").innerHTML = z;
            }
        }
    </script>
</head>


<br />
<br />

<div class="row">
    <div class="col-lg-3">

    </div>

    <div class="col-lg-2">
        <label class="form-control btn-info">Day</label>
    </div>

    <div class="col-lg-2">
        <label class="form-control btn-info">Hours</label>
    </div>

    <div class="col-lg-2">
        <label class="form-control btn-info">Start</label>
    </div>
    <div class="col-lg-2">
        <label class="form-control btn-info">End</label>
    </div>
</div>

<form method="post">


    <!--Saturday-->
    <div class="row">
        <div class="col-lg-3">

        </div>
        <div class="col-lg-2">
            <label class="form-control btn-success">Saturday</label>
        </div>
        <div class="col-lg-2">
            <select class="form-control" id="mySelect" onchange="myfunc()">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
        <div class="col-lg-2">
            <select class="form-control" id="time" onchange="myfunc()">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
        </div>
        <div class="col-lg-2">
            <label class="form-control" id="show"></label>
        </div>
    </div>
    <!--Sunday-->
    <div class="row">
        <div class="col-lg-3">

        </div>
        <div class="col-lg-2">
            <label class="form-control btn-success">Sunday</label>
        </div>
        <div class="col-lg-2">
            <select class="form-control" id="sundaytime" onchange="myfunc2()">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
        <div class="col-lg-2">
            <select class="form-control" id="stime" onchange="myfunc2()">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
        </div>
        <div class="col-lg-2">
            <label class="form-control" id="show1"></label>
        </div>
    </div>

    <!---Monday-->
    <div class="row">
        <div class="col-lg-3">

        </div>
        <div class="col-lg-2">
            <label class="form-control btn-success">Monday</label>
        </div>
        <div class="col-lg-2">
            <select class="form-control" id="mondaytime" onchange="myfunc3()">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
        <div class="col-lg-2">
            <select class="form-control" id="mtime" onchange="myfunc3()">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
        </div>
        <div class="col-lg-2">
            <label class="form-control" id="show2"></label>
        </div>
    </div>

    <!--Tuesday-->
    <div class="row">
        <div class="col-lg-3">

        </div>
        <div class="col-lg-2">
            <label class="form-control btn-success">Tuesday</label>
        </div>
        <div class="col-lg-2">
            <select class="form-control" id="tuesdaytime" onchange="myfunc4()">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
        <div class="col-lg-2">
            <select class="form-control" id="ttime" onchange="myfunc4()">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
        </div>
        <div class="col-lg-2">
            <label class="form-control" id="show3"></label>
        </div>
    </div>

    <!--Wednessday-->
    <div class="row">
        <div class="col-lg-3">

        </div>
        <div class="col-lg-2">
            <label class="form-control btn-success">Wednessday</label>
        </div>
        <div class="col-lg-2">
            <select class="form-control" id="wedtime" onchange="myfunc5()">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
        <div class="col-lg-2">
            <select class="form-control" id="wtime" onchange="myfunc5()">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
        </div>
        <div class="col-lg-2">
            <label class="form-control" id="show4"></label>
        </div>
    </div>

    <!---Thursday-->
    <div class="row">
        <div class="col-lg-3">

        </div>
        <div class="col-lg-2">
            <label class="form-control btn-success">Thursday</label>
        </div>
        <div class="col-lg-2">
            <select class="form-control" id="thurtime" onchange="myfunc6()">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
        <div class="col-lg-2">
            <select class="form-control" id="thtime" onchange="myfunc6()">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
        </div>
        <div class="col-lg-2">
            <label class="form-control" id="show5"></label>
        </div>
    </div>

    <!--Friday-->
    <div class="row">
        <div class="col-lg-3">

        </div>
        <div class="col-lg-2">
            <label class="form-control btn-success">Friday</label>
        </div>
        <div class="col-lg-2">
            <select class="form-control" id="fritime" onchange="myfunc7()">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
        <div class="col-lg-2">
            <select class="form-control" id="ftime" onchange="myfunc7()">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
        </div>
        <div class="col-lg-2">
            <label class="form-control" id="show6"></label>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">

        </div>
        <div class="col-lg-2">
        </div>
        <div class="col-lg-2">

        </div>
        <div class="col-lg-2">

        </div>
        <div class="col-lg-2">
            @Html.ActionLink("Hire", "HireTutor", "Student", null, new { @class = "btn btn-success" })
        </div>
    </div>

</form>