@{
    ViewBag.Title = "Study Material";
    Layout = "~/Views/Shared/StudentLayout.cshtml";
}

<div style="background-color:white; border:1px solid green;margin:0px 50px; padding:10px">
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Tittle</th>
                <th scope="col">Uploaded Date</th>
                <th scope="col">Size</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="">Math Chapter 1 Question.ppt</a></td>
                <td>10-11-2017</td>
                <td>.77MB</td>
            </tr>
            <tr>
                <td><a href="">Math Chapter 1 Question.pdf</a></td>
                <td>15-11-2017</td>
                <td>.72MB</td>
            </tr>
            <tr>
                <td><a href="">Chemistry Chapter 1 Question.ppt</a></td>
                <td>20-1-2017</td>
                <td>.80MB</td>
            </tr>
            <tr>
                <td><a href="">Physics Chapter 1 Question.text</a></td>
                <td>27-11-2017</td>
                <td>.79MB</td>
            </tr>
            <tr>
                <td><a href="">Islamic Studies Chapter 1 Question.image</a></td>
                <td>02-12-2017</td>
                <td>.56MB</td>
            </tr>
        </tbody>
    </table>
</div>