@using Entity.BlogModel
@model List<Blog>
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/TutorLayout.cshtml";
}


<html>
<head>


    <style>
     
       

        .retitle h2 {
            display: block;
            margin: 8px 0;
        }

        .post {
            display: block;
            overflow: hidden;
            word-wrap: break-word;
        }

        .post-header, .post-footer { line-height: 1.6; }

        .block-image {
            float: left;
            height: 240px;
            margin-right: 24px;
            width: 320px;
        }
        .date-header {
            color: #bdbdbd;
            display: block;
            font-size: 12px;
            font-weight: 400;
            line-height: 1.3em;
            margin: 0 !important;
            overflow: hidden;
            padding: 0;
        }
    </style>
</head>

<body>

<fieldset>
    <legend>My Blogs</legend>
    <div class="post">

        <div class="post-header">

        </div>
        @foreach (var blog in Model)
        {
            <article>
                <font class="retitle">
                    <h2 >
                        <a href="/Tutor/ViewPost/@blog.Id">
                            @blog.Title
                        </a>
                    </h2>
                </font>
                <div class="date-header">
                    <div id="meta-post">

                        <a href="https://plus.google.com/117087522982435008929" rel="author" data-gapiscan="true" data-onload="true" data-gapiattached="true">
                            <span itemprop="name">@blog.Author</span>
                        </a>
                        <i></i>
                        <span>@blog.Date.ToString("D")</span>
                    </div>
                    <div >
                        <span>@Html.Raw(blog.Content) </span>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </article>
        }

    </div>
</fieldset>



</body>


</html>
