
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/TutorLayout.cshtml";
}


<html>
<head>
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=.9">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style media="screen">
        img {
            width: 70%;
        }
    </style>

</head>
<body>
    <div class="row">
        <div class="col-sm-2">

        </div>
        <div class="col-lg-8">

            <div class="panel panel-info">
                <div class="panel-heading">
                    Notification
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    Reports
                                </div>
                                <div class="panel-body">

                                    <div class="well">
                                        <a href="#"><strong>Tanim</strong></a> Reported <a href="#">
                                            <strong>Jon</strong>

                                        </a>
                                        <br>
                                        <a href="#">See Message...</a>
                                    </div>

                                    <div class="well">
                                        <a href="#"><strong>Sajib</strong></a> Reported <a href="#">
                                            <strong>Jon</strong>

                                        </a>
                                        <br>
                                        <a href="#">See Message...</a>
                                    </div>

                                    <div class="well">
                                        <a href="#"><strong>Baiching</strong></a> Reported <a href="#">
                                            <strong>Jon</strong>

                                        </a>
                                        <br>
                                        <a href="#">See Message...</a>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-8">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    Reports
                                </div>
                                <div class="panel-body">

                                    <div class="well">
                                        Jon is not coming to tutor properly and is not preparing studying materials.
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</body>
</html>



