@model Entity.UserModels.Tutor

@{
    ViewBag.Title = "Detailed";
    Layout = "~/Views/Shared/TutorLayout.cshtml";
}
<style>
    table > tbody > tr > th {
        height: 55px;
    }
</style>
<br />
<br />
<div style="background-color:white; border:1px solid green;margin:0px 50px">
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Time</th>
                <th scope="col">Today</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var re in @Model.Schedules)
            {
                <tr>
                    <td>@re.ScheduleAsString</td>
                    <td>@re.UserName</td>
                </tr>
            }
        </tbody>
    </table>
</div>