@{
    ViewBag.Title = "Edit Profile";
    Layout = "~/Views/Shared/StudentLayout.cshtml";
}
<div style="background-color:white; margin:0px 50px; padding:5px">
    <div class="col-sm-6" style="border:1px solid green; padding:15px">
        <div class="form-group">
            <label>Name : </label>
            <input type="text" class="form-control" id="firstName">
            <br />
            <label>Email : </label>
            <input type="email" class="form-control" id="lastName">
            <br />
            <label>Profile Picture URL:</label>
            <input type="text" class="form-control" id="pro_pic"/>
            <br />
            <label>Phone : </label>
            <input type="text" class="form-control" id="phone">
            <br />
            <label>Location : </label>
            <input type="text" class="form-control" id="location">
        </div>
    </div>
    <div class="col-sm-5" style="border:1px solid green; margin-left:10px; padding:15px">
    <div class="form-group">
        <label>Preferred Medium : </label>
        <br />
        <input type="checkbox" name="pref_sub" value="sub2"><label>Bangla</label> 
        <input type="checkbox" name="pref_sub" value="sub2"><label>English</label>
        <br /><br />

        <label>Preferred Location : </label>
        <br />

        <input type="checkbox" name="pref_sub" value="sub2"><label>Mirpur-1</label> 
        <input type="checkbox" name="pref_sub" value="sub2"> <label>Mirpur-2</label>
        <input type="checkbox" name="pref_sub" value="sub2"><label>Mirpur-10</label>
        <input type="checkbox" name="pref_sub" value="sub2"><label>Mirpur-14</label>
        <input type="checkbox" name="pref_sub" value="sub2"> <label>Mirpur-12</label>
        <input type="checkbox" name="pref_sub" value="sub2"> <label>Kalshi</label>
        <br />
        <br />
        
        <label>Preferred Subjects: </label>
        <br />

        @{ 
            for(int i = 0; i < 13; i++)
            {
                <input type="checkbox" name="pref_sub" value="sub"/> <label>Class @i</label>
            }
        }

        <div class="text-right">
            <button class="btn btn-info">Save</button>
        </div>
    </div>
</div>
</div>
