
@{
    ViewBag.Title = "EditProfile";
    Layout = "~/Views/Shared/TutorLayout.cshtml";
}


<div style="background-color:white; margin:0px 50px; padding:5px">
    <div class="col-sm-5" style="border:1px solid green; padding:15px">
        <div class="form-group">
            <label>Name : </label>
            <input type="text" class="form-control" id="firstName">
            <br />
            <label>Email : </label>
            <input type="email" class="form-control" id="lastName">
            <br />
            <label>Phone No. : </label>
            <input type="text" class="form-control" id="email">
            <br />
            <label>Profile Pic URL:</label>
            <input type="text" class="form-control" id="propic">
            <br />
            <label>Address: </label>
            <input type="text" class="form-control" id="phone">
            <br />
            <label>Gender: </label>
            <input type="radio" name="gender" value="male"> Male
            <input type="radio" name="gender" value="female"> Female
            <label></label>
        </div>
    </div>
    <div class="col-sm-5" style="border:1px solid green; margin-left:10px; padding:15px">
        <div class="form-group">
            <label>Preferred Medium : </label>
            <br />
            <input type="checkbox" name="pref_med" value="Bangla"> <label>Bangla</label>
            <input type="checkbox" name="pref_med" value="English"><label>English</label>s

            <br /><br />
            <label>Preferred Location : </label>
            <br />

            <input type="checkbox" name="pref_sub" value="sub2"><label>Mirpur-1</label> 
            <input type="checkbox" name="pref_sub" value="sub2"> <label>Mirpur-2</label>
            <input type="checkbox" name="pref_sub" value="sub2"> <label>Mirpur-10</label>
            <input type="checkbox" name="pref_sub" value="sub2"> <label>Mirpur-11</label>
            <input type="checkbox" name="pref_sub" value="sub2"> <label>Kalshi</label>
            <br />
            <br />
            <label>Preferred Class</label>
            <br />

            @{ 
                for(int i = 1; i < 13; i++)
                {
                    <input type="checkbox" name="pref_class" value="class2"/><label> Class @i</label>
                }
            }

            <br />
        </div>

        <div class="text-right">
            <button class="btn btn-info">Save</button>
        </div>
    </div>
    
</div>





