@using Entity.Others
@model TutorsHub.Application.Models.NotificationViewModel
@{
    ViewBag.Title = "Detailed";
    Layout = "~/Views/Shared/TutorLayout.cshtml";
}
<html>
<head>
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=.9">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


</head>
<body>
    <div class="row">
        <div class="col-sm-1">

        </div>
        <div class="col-lg-10">

            <div class="panel panel-info">
                <div class="panel-heading">
                    Notification
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-lg-2">

                        </div>
                        <div class="col-lg-8">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    Reports
                                </div>
                                @foreach (Notification notification in Model.Notifications)
                                {
                                    <div class="panel-body">

                                        <div class="well">
                                            @notification.Message
                                            @if (notification.Notificationtype==Notificationtype.ScheduleProposiotion)
                                            {
                                                @Html.ActionLink("Details", "ScheduleProp", "Tutor", new
                                                {
                                                    scheduleString = notification.NotificationData
                                                }
                                                    , null)
                                            }
                                          
                                        </div>

                                    </div>
                                }
                             
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</body>
</html>


