
@{
    ViewBag.Title = "Schedule";
    Layout = "~/Views/Shared/TutorLayout.cshtml";
}

<h2>Schedule</h2>

<table border="1" width="100%" style="font-size:20px;zoom:1.4">
    <thead>
        <tr>
            
            <td></td>
            <td><strong>Sun</strong></td>
            <td><strong>Mon</strong></td>
            <td><strong>Tue</strong></td>
            <td><strong>Wed</strong></td>
            <td><strong>Thu</strong></td>
            <td><strong>Fri</strong></td>
            <td><strong>Sat</strong></td>
        </tr>
    </thead>
    <tr>
        <td><strong>8am-10am</strong></td>
        <td><a href="#">Jahid</a> </td>
        <td></td>
        <td><a href="#">Jahid</a></td>
        <td></td>
        <td><a href="#">Jahid</a></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td><strong>2pm-4pm</strong></td>
        <td></td>
        <td><a href="#">Rishad</a></td>
        <td></td>
        <td><a href="#">Rishad</a></td>
        <td></td>
        <td>-</td>
        <td><a href="#">Rishad</a></td>
    </tr>

    <tr>
        <td><strong>6pm-8pm</strong></td>
        <td><a href="#">Jakiya</a></td>
        <td></td>
        <td><a href="#">Jakiya</a></td>
        <td></td>
        <td><a href="#">Jakiya</a></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td><strong>9pm-11pm</strong></td>
        <td></td>
        <td><a href="#">Simon</a></td>
        <td></td>
        <td><a href="#">Simon</a></td>
        <td></td>
        <td></td>
        <td><a href="#">Simon</a></td>
    </tr>
</table>