
@{
    ViewBag.Title = "SearchUser";
    Layout = "~/Views/Shared/TutorLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <form>
                <h2><label>User | Search</label> <br></h2>
                <br>
                <br>
                <input type="text" class="form-control" placeholder="Search" name="">
                <br>
                <input type="submit" value="Search" class="btn btn-success" name="" style="width:154px;">
            </form>
            <br>
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Status</th>
                    </tr>
                    <tr>
                        <td><a href="#">Tanzim</a></td>
                        <td>tanzim@gmail.com</td>
                        <td>Active</td>
                    </tr>
                    <tr>
                        <td><a href="#">Sajib</a></td>
                        <td>sajib@gmail.com</td>
                        <td>Active</td>
                    </tr>
                    <tr>
                        <td><a href="#">Jon</a></td>
                        <td>jon@gmail.com</td>
                        <td>Not Active</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


