@model List<Entity.UserModels.Student>
    @{
        ViewBag.Title = "StudentList";
        Layout = "~/Views/Shared/TutorLayout.cshtml";
    }
 
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form>
                    <h2><label>Student List</label> <br></h2>
                </form>
                <br>
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th><h3>Name</h3></th>
                            <th><h3>Email</h3></th>
                       
                     
                        </tr>
                        @foreach (var student in Model)
                        {
                            <tr style="font-size:large">
                                <td>
                                    @*<a href="#">*@@student.Name
                                        @*</a>*@
                                </td>
                                <td>@student.Email</td>
                          
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>

