
@{
    ViewBag.Title = "UploadMaterial";
    Layout = "~/Views/Shared/TutorLayout.cshtml";
}

<br />
<br />
<div style="background-color:white; border:1px solid green;margin-left:53px; padding-left:50px; width:70%;">
    <div class="container" style="margin-top:20px;">
        <div class="form-group" style="width:50%">
            <select class="form-control" id="sel1">
                <option value="Jahid">Faruk</option>
                <option value="Jahid">Tanim</option>
                <option value="Jahid">Alom</option>
                <option value="Jahid">Zahid</option>
                <option value="Jahid">Fakarullah</option>
                <option value="Jahid">Tanzim</option>
            </select>
            <br />
            <input class="form-control input-sm" id="subject" type="text" placeholder="Subject:">
            <br />
            <input type="file" class="form-control" />
            <br />
            <button type="button" class="btn btn-info" style="margin-left:512px">Upload</button>
        </div>
      
    </div>
</div>