@{
    ViewBag.Title = "ViewProfile";
    Layout = "~/Views/Shared/TutorLayout.cshtml";
}

<html>
<head>
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=.9">
    <style type="text/css">
        input[type=submit], input[type=reset] {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 10px 32px;
            text-decoration: none;
            margin: 4px 2px;
            cursor: pointer;
            font-family: Verdana, Geneva, sans-serif;
            font-size: 14px;
            font-style: inherit;
            font-variant: normal;
            font-weight: 600;
            line-height: 20px;
        }

        input[type=text] {
            background-color: #4CAF50;
            color: white;
            padding: 10px 32px;
            font-family: Verdana, Geneva, sans-serif;
            font-size: 14px;
            font-style: inherit;
            font-variant: normal;
            font-weight: 600;
            line-height: 20px;
        }

            input[type=text]:focus {
                background-color: green;
            }

        input[type=tel] {
            background-color: #4CAF50;
            color: white;
            padding: 10px 32px;
            font-family: Verdana, Geneva, sans-serif;
            font-size: 14px;
            font-style: inherit;
            font-variant: normal;
            font-weight: 600;
            line-height: 20px;
        }

            input[type=tel]:focus {
                background-color: green;
            }

        select {
            width: 100%;
            padding: 10px 32px;
            border: none;
            border-radius: 4px;
            background-color: #4CAF50;
            color: white;
            font-family: Verdana, Geneva, sans-serif;
            font-size: 14px;
            font-style: inherit;
            font-variant: normal;
            font-weight: 600;
            line-height: 20px;
        }

        input[type=date] {
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 10px 32px;
            text-decoration: none;
            cursor: pointer;
            font-family: Verdana, Geneva, sans-serif;
            font-size: 14px;
            font-style: inherit;
            font-variant: normal;
            font-weight: 600;
            line-height: 20px;
        }

        h1 {
            font-family: Verdana, Geneva, sans-serif;
            font-size: 24px;
            font-style: normal;
            font-variant: normal;
            font-weight: bold;
            line-height: 26.4px;
        }

        h3 {
            font-family: Verdana, Geneva, sans-serif;
            font-size: 18px;
            font-style: normal;
            font-variant: normal;
            font-weight: 800;
            line-height: 15.4px;
        }

        body {
            font-family: Verdana, Geneva, sans-serif;
            font-size: 14px;
            font-style: inherit;
            font-variant: normal;
            font-weight: 600;
            line-height: 20px;
        }

        /* Create two equal columns that floats next to each other */
        .column {
            float: left;
            width: 30%;
            padding: 10px;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        #content {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        textarea {
            width: 100%;
            height: 100px;
            padding: 12px 20px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 2px;
            background-color: #f8f8f8;
            font-size: 16px;
            resize: none;
        }
    </style>
</head>
<body>
    <h1>Profile</h1>
    <hr />
    <div id="content">

        <div class="row">
            <tr>
                <td>
                    <div class="column">
                        <table>


                            <tr><td><img src="http://via.placeholder.com/200x200" /><br><br></td></tr>

                            <tr><td><br></td></tr>
                            <tr><td><br></td></tr>
                            <tr>
                                <td><b>Name:</b></td>
                                <td>James Brown<br></td>
                                <td><b>Current Status:</b></td><td> active<br></td>
                                </tr>
                            <tr></tr>
                            <tr><td><h1>Tuiton Info</h1><br></td></tr>
                            <tr><td><b>Expected Salary:</b></td><td> 5000<br></td></tr>
                            <tr><td><b>Preferred Medium:</b></td><td> Bangla<br></td></tr>
                            <tr><td><b>Preferred Classes:</b></td><td> 1,2,3,4,5,6<br></td></tr>
                            <tr><td><b>Preferred Subjects:</b></td><td> Bangla,English,Math,Physics<br></td></tr>
                            <tr><td><b>Preferred Areas:</b></td><td> Mirpur-1,Mirpur-2,Mirpur-10<br></td></tr>
                        </table>
                    </div>

                    <div class="column">
                        <table>
                            <tr><td><br></td></tr>
                            <tr><td><br></td></tr>
                            <tr><td><br></td></tr>
                            <tr><td><br></td></tr>
                            <tr><td><b>Member since:</b></td><td> 2 years <br></td></tr>
                            <tr><td><b>Last Active:</b></td><td> 2 day ago<br></td></tr>
                            <tr><td><b>Level:</b></td><td> 1<br></td></tr>
                            <tr><td><b>Experience</b></td><td> 3 years</td></tr>
                        </table>
                    </div>


        </div>
    </div>

</body>
</html>

