
@{
    ViewBag.Title = "QuestionPaper";
    Layout = "~/Views/Shared/TutorLayout.cshtml";
}

<html>
<head>
    <style>
        div.pp {
            padding-left: 25px;
            padding-top: 10px;
        }

        .button {
            background-color: #277ec8;
            border: none;
            color: white;
            cursor: pointer;
            font-size: 14px;
            padding: 16px;
        }

        .button1 {
            background-color: #1f9609;
            border: none;
            color: white;
            cursor: pointer;
            font-size: 16px;
            padding: 16px;
        }
        .questions{
            border: groove;
            font-size:20px;
            margin-left:2px;
        }
        .quesion{
            font-size:25px;
        }
        .options{
            margin-left:5px;
        }
        .lav{
            margin-left:15px;
        }
        .box{
            border: groove;
        }
    </style>

</head>
<body>

<form method="Post">

    <fieldset>
        <legend >
            Bangla Exam
        </legend>
     

        <div class="questions">
            <div class="box">
                <div class="quesion">
                    <label>1)What is the Capital City of Bangladesh?</label>
                    <br>
                </div>
                <div class="options">
                    <input type="radio" name="1" value="Delhi" checked="checked">
                    <label class="lav">Delhi</label>
                    <input type="radio" name="1" value="Dhaka">
                    <label class="lav">Dhaka</label>
                    <input type="radio" name="1" value="Chittagong">
                    <label class="lav">Chittagong</label>
                    <input type="radio" name="1" value="Noakhali">
                    <label class="lav">Noakhali</label>
                </div>
            </div>
            <div class="box">
                <div class="quesion">
                    <label>2)What is the Capital City of Bangladesh?</label>
                    <br>
                </div>
                <div class="options">
                    <input type="radio" name="2" value="Delhi" checked="checked">
                    <label class="lav">Delhi</label>
                    <input type="radio" name="2" value="Dhaka">
                    <label class="lav">Dhaka</label>
                    <input type="radio" name="2" value="Chittagong">
                    <label class="lav"> Chittagong</label>
                    <input type="radio" name="2" value="Noakhali">
                    <label class="lav">Noakhali</label>
                </div>
                </div>
                <div class="box">
                    <div class="quesion">
                        <label>3)What is the Capital City of Bangladesh?</label>
                        <br>
                    </div>
                    <div class="options">
                        <input type="radio" name="3" value="Delhi" checked="checked">
                        <label class="lav">Delhi</label>
                        <input type="radio" name="3" value="Dhaka">
                        <label class="lav">Dhaka</label>
                        <input type="radio" name="3" value="Chittagong">
                        <label class="lav">Chittagong</label>
                        <input type="radio" name="3" value="Noakhali">
                        <label class="lav">Noakhali</label>
                    </div>
                    </div>
                    <div class="box">
                        <div class="quesion">
                            <label>4)What is the Capital City of Bangladesh?</label>
                            <br>
                        </div>
                        <div class="options">
                            <input type="radio" name="4" value="Delhi" checked="checked">
                            <label class="lav">Delhi</label>
                            <input type="radio" name="4" value="Dhaka">
                            <label class="lav">Dhaka</label>
                            <input type="radio" name="4" value="Chittagong">
                            <label class="lav">Chittagong</label>
                            <input type="radio" name="4" value="Noakhali">
                            <label class="lav">Noakhali</label>
                        </div>
                        </div>


                        <div align="center">
                            <button name="SubmitButton" class="button1" style="width: 100px;">Submit</button>

                        </div>
                    </div>
    </fieldset>

</form>
</body>

</html>

