
@{
    ViewBag.Title = "QuestionPaper";
    Layout = "~/Views/Shared/TutorLayout.cshtml";
}

<html>
<head>
    <style>
        div.pp {
            padding-left: 25px;
            padding-top: 10px;
        }

        .button {
            background-color: #277ec8;
            border: none;
            color: white;
            cursor: pointer;
            font-size: 14px;
            padding: 16px;
        }

        .button1 {
            background-color: #1f9609;
            border: none;
            color: white;
            cursor: pointer;
            font-size: 16px;
            padding: 16px;
        }
    </style>

</head>
<body>

<form method="Post">

    <fieldset>
        <legend>
            Bangla Exam
        </legend>


        <div>
            <label>1)What is the Capital City of Bangladesh?</label>
            <br>

            <input type="radio" name="1" value="Delhi" checked="checked">
            <label>Delhi</label>
            <input type="radio" name="1" value="Dhaka">
            <label >Dhaka</label>
            <input type="radio" name="1" value="Chittagong">
            <label>Chittagong</label>
            <input type="radio" name="1" value="Noakhali">
            <label>Noakhali</label>
        </div>
        
        
        <div>
            <label>2)What is the Capital City of Bangladesh?</label>
            <br>

            <input type="radio" name="1" value="Delhi" checked="checked">
            <label>Delhi</label>
            <input type="radio" name="1" value="Dhaka">
            <label >Dhaka</label>
            <input type="radio" name="1" value="Chittagong">
            <label>Chittagong</label>
            <input type="radio" name="1" value="Noakhali">
            <label>Noakhali</label>
        </div>
        
        <div>
            <label>3)What is the Capital City of Bangladesh?</label>
            <br>

            <input type="radio" name="1" value="Delhi" checked="checked">
            <label>Delhi</label>
            <input type="radio" name="1" value="Dhaka">
            <label >Dhaka</label>
            <input type="radio" name="1" value="Chittagong">
            <label>Chittagong</label>
            <input type="radio" name="1" value="Noakhali">
            <label>Noakhali</label>
        </div>
        
        <div>
            <label>4)What is the Capital City of Bangladesh?</label>
            <br>

            <input type="radio" name="1" value="Delhi" checked="checked">
            <label>Delhi</label>
            <input type="radio" name="1" value="Dhaka">
            <label >Dhaka</label>
            <input type="radio" name="1" value="Chittagong">
            <label>Chittagong</label>
            <input type="radio" name="1" value="Noakhali">
            <label>Noakhali</label>
        </div>



        <div align="center">
            <button name="SubmitButton" class="button1" style="width: 100px;">Submit</button>

        </div>
    </fieldset>

</form>
</body>

</html>

