
@{
    ViewBag.Title = "Ranking";
    Layout = "~/Views/Shared/TutorLayout.cshtml";
}

<fieldset>
    <h2>Ranking</h2>
    <table border="1" width="100%" style="font-size:20px;">
        <thead>
                <tr>

                    <td><strong>Name</strong></td>
                    <td><strong>Review</strong></td>
                    <td><strong>Status</strong></td>
                    <td><strong>Score</strong></td>
                    <td><strong>Level</strong></td>

                </tr>
        </thead>
        <tr>
            <td>Tanimul Haque Khan</td>
            <td>Best</td>
            <td>Very Good</td>
            <td>90</td>
            <td>10</td>
        </tr>
        <tr>
            <td>Abul kashem</td>
            <td>Best</td>
            <td>Acive</td>
            <td>100</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Taskin</td>
            <td>Average</td>
            <td>Acive</td>
            <td>75</td>
            <td>100</td>
        </tr>


    </table>

</fieldset>

