
@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/TutorLayout.cshtml";
}

<fieldset>
    <legend style="font-size: 40px;">Result</legend>
    <table border="1" style="width:100%; font-size:20px;">
        <thead>
            <tr>
                <td><strong>Subject</strong></td>
                <td><strong>Marks</strong></td>
                <td><strong>Status</strong></td>
                <td><strong>Exam</strong></td>
            </tr>
        </thead>
        <tr>
            <td>Bangla</td>
            <td>90</td>
            <td>very good</td>
            <td><a href="#">retake</a></td>
        </tr>
        <tr>
            <td>English</td>
            <td>70</td>
            <td>avarage</td>
            <td><a href="#">retake</a></td>
        </tr>
        <tr>
            <td>Math</td>
            <td>100</td>
            <td>very good</td>
            <td><a href="#">retake</a></td>
        </tr>


    </table>

</fieldset>