@model Entity.Others.ExamResult
@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/TutorLayout.cshtml";
}

<fieldset>
    <legend style="font-size: 40px;">Result</legend>
    <table border="1" style="width:100%; font-size:20px;">
        <thead>
        <tr>
            <td><strong>Subject</strong></td>
            <td><strong>Difficulty</strong></td>
            <td><strong>Score</strong></td>
            <td><strong>Exam</strong></td>
        </tr>
        </thead>
        @foreach (var subject in Model.Results)
        {
            <tr>
                <td>@subject.SubjectName</td>
                <td>@subject.Difficulty</td>
                <td>@subject.Score</td>
                <td>@Html.ActionLink("Retake Exam","QuestionPaper","Exam", new{subject=subject.SubjectName, difficulty=subject.Difficulty }, null)</td>
            </tr>
        }

    </table>

</fieldset>