
@model TutorsHub.Application.Models.TakeExamViewModel
@{
    ViewBag.Title = "TakeExam";
    Layout = "~/Views/Shared/TutorLayout.cshtml";
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/Views/CSS/bootstrap.min.css" rel="stylesheet" />
    <style>
        .span_class{
            margin-bottom:10px;
        }
        .btn-success {
            /*float:right;*/
        }
    </style>
</head>
<body>
    <div>
        <h1>Exam</h1>
        <form method="post">
            <label>Subject: </label>
            <select name="SelectedSubject" style="width: 100%; height: 30px; margin-bottom: 15px;">
                @foreach (string subject in Model.ExamSubject)
                {
                    <option value="@subject">@subject</option>
                }       
            </select>
            <label>difficulty</label>
            <select name="Difficulty" style="width: 100%; height: 30px; margin-bottom: 15px;">
                @foreach (int difficulty in Model.DifficultyLevels)
                {
                    <option value="@difficulty">@difficulty</option>
                }
            </select>
            <input type="submit" class="btn btn-success" value="Start"/>
         
        </form>
    </div>
</body>
</html>