<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c593391f-dd77-4d1a-aa7e-040b7ed5f3a8/resourceGroups/2TakarDeveloper/providers/Microsoft.Web/sites/TutorsHubApplication</ResourceId>
    <ResourceGroup>2TakarDeveloper</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tutorshubapplication.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>tutorshubapplication.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TutorsHubApplication</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TutorsHubApplication</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TutorsHub" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:tutorshubdbserver.database.windows.net,1433;Initial Catalog=TutorsHubApplication_db;User ID=2TakarDeveloper@tutorshubdbserver;Password=darks1d1erS!" Name="Data Source=tcp:tutorshubdbserver.database.windows.net,1433;Initial Catalog=TutorsHubApplication_db;User Id=2TakarDeveloper@tutorshubdbserver;Password=darks1d1erS!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(Localdb)\MSSQLLocalDB;Initial Catalog=TutorsHub;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TutorsHub_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(Localdb)\MSSQLLocalDB;Initial Catalog=TutorsHub;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="TutorsHub-Web.config Connection String">
      <ParameterValue>Data Source=tcp:tutorshubdbserver.database.windows.net,1433;Initial Catalog=TutorsHubApplication_db;User Id=2TakarDeveloper@tutorshubdbserver;Password=darks1d1erS!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>