@using System.Web.Mvc.Html


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />
    <title>TutorsHub</title>

</head>

    <body>
 
        <nav class="navbar navbar-inverse" style="border-radius: 0px;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" style="font-weight: bolder; font-size: 25px;">Tutor Hub</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form method ="post" style="padding-top: 15px;">
                            <div class="form-group form-inline" style="padding-right: 15px;">
                                <input name="Email" class="form-control" type="text" placeholder="Email" >
                                <input name="Password" class="form-control" type="password" placeholder="Password">
                                <input type="submit" class="btn btn-primary" name="loginButton" value="Login">
                            </div>
                           
                            <div class="form-group">
                                <input type="checkbox" name="RememeberMe"> <span class="text-info">Remember Me</span>
                                &nbsp;&nbsp;&nbsp;
                                @Html.ActionLink("Forgot Password?", "ForgotPassword", "Home") &nbsp;&nbsp;&nbsp;
                                @Html.ActionLink("Registration", "Registration", "Home")
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>

        <div>
            <table width="100%" align="center" cellspacing="0" cellpadding="10" border="0">
                <tr>
                    <td>
                        @RenderBody()
                        <br /><br /><br />
                    </td>
                </tr>
                <tr>
                    <td style="position:fixed;bottom:0;width:100%;text-align:center;border:solid">
                        Copyright &copy; 2017
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
