<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="/Scripts/modernizr-2.6.2.js"></script>

</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" style="width: 100%;height: 50px; background-color:#6AAEBB" data-spy="affix">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="" class="navbar-brand" height="auto">
                <a class="navbar-brand" href="/Student/dashboard">Tutors Hub</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li>

                    </li>
                    <li><a href="/Student/StudentProfile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                    <li><a href="/Student/Notification"><span class="glyphicon glyphicon-bell"></span>Notification</a></li>

                    <li>
                        <a href="/Student/Logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <div class="container-fluid" style="margin: 50px 40px 50px 60px">
            <div class="row">
                <div class="col-sm-2" style="background-color:transparent;border:none">
                    <center><img src="../../images/download.jpg" alt="Alternate Text" style="width:140px;" /> </center>
                    <div class="btn-group-vertical" style="width:100%;margin:10px 0px">
                        <a href="/Student/Dashboard" type="button" class="btn btn-primary" style="margin:8px 0px">Dashboard</a>
                        @*<a href="/Student/StudyMaterial" type="button" class="btn btn-primary" style="margin:8px 0px;">Study Material</a>*@
                        <!--<a href="/Student/OnlineExam" type="button" class="btn btn-primary" style="margin:8px 0px">Online Exam</a>-->
                        <!--<a href="/Student/ExamResult" type="button" class="btn btn-primary" style="margin:8px 0px">Exam Result</a>--->
                        <a href="/Student/SendMessage" type="button" class="btn btn-primary" style="margin:8px 0px">Send Message</a>
                        <a href="/Student/TutorSearch" type="button" class="btn btn-primary" style="margin:8px 0px">Search Tutor</a>
                        <a href="/Student/Report" type="button" class="btn btn-primary" style="margin:8px 0px">Report</a>
                        <a href="/Student/ChangePassword" type="button" class="btn btn-primary" style="margin:8px 0px">Change Passsword</a>
                    </div>
                </div>
                <div class="col-sm-10">
                    @RenderBody()
                </div>
            </div>
        </div>

    </div>
</body>
</html>