
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>XCompany | Dash Board</title>
    <link rel="stylesheet" type="text/css" href="~/Scripts/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/bootstrap.min.css" />
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-3">
                <label>Name</label>
            </div>
            <div class="col-lg-2">
                <label>Time In</label>
            </div>
            <div class="col-lg-2">
                <label>Time Out</label>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-3">
                <a href="#"><label>Tyrion Lannister</label></a>
            </div>
            <div class="col-lg-2">
                <label>11:00 pm</label>
            </div>
            <div class="col-lg-2">
                <label>11:24 pm</label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-3">
                <a href="#"><label>Jon Snow</label></a>
            </div>
            <div class="col-lg-2">
                <label>7:20 am</label>
            </div>
            <div class="col-lg-2">
                <label>9:00 am</label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-3">
                <a href="#"><label>Alex Wilson</label></a>
            </div>
            <div class="col-lg-2">
                <label>2:22 pm</label>
            </div>
            <div class="col-lg-2">
                <label>3:24 pm</label>
            </div>
        </div>
    </div>

</body>
</html>
