
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<head>
    <style>
        .in{
            width:200px;
        }
    </style>
</head>

<div class="container">
    <div class="row">
        <div class="col-lg-12">

            <form>
                <div class="form-group">
                    <label>User name</label>
                    <input type="" class="form-control in" name="">
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input type="" class="form-control in" name="">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control in" id="email">
                </div>
                <label>Gender</label>
                <input type="radio" name="">Male
                <input type="radio" name="">Female <br><br>

                <div class="form-group">
                    <label>Birth Of Date</label>
                    <input type="" class="form-control in" name="">
                </div>
                <div class="form-group">
                    <label>picture</label>
                    <input type="file" class="form-control in" name="">
                </div>
                <div class="form-group">
                    <label>Role</label>
                    <select class="btn btn-default">
                        <option>Admin</option>
                        <option>Executive</option>
                        <option>User</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Status</label>
                    <select class="btn btn-default">
                        <option>Active</option>
                        <option>Pending</option>
                        <option>Block</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="pwd">Password</label>
                    <input type="password" class="form-control in" id="pwd">
                </div>
                <input type="submit" class="btn btn-success" value="Save">

            </form>
        </div>
    </div>
</div>
