
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <form>
                <label>user| Search</label> <br>
                <label>Filter By any</label>
                <select class="btn btn-info">
                    <option>Any</option>
                    <option>Name</option>
                    <option>Email</option>
                    <option>Status</option>
                </select>
                <br>
                <br>
                <input type="text" class="form-control" name="">
                <br>
                <input type="submit" value="Search" class="btn btn-success" name="">
            </form>
            <br>
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Status</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>