
@{
    ViewBag.Title = "ViewProfile";
    Layout = "~/Views/Shared/Public_Layout.cshtml";
}

<html>
<head>
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=.9">
    <style type="text/css">
  
        /* Create two equal columns that floats next to each other */
        .column {
            float: left;
            width: 30%;
            padding: 10px;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
</head>
<body>
<h1>Profile</h1>
<hr />
<div id="content">

    <div class="row">
        <tr>
        <td>
        <div class="column">
            <table>


                <tr><td><img src="http://via.placeholder.com/200x200" /><br><br></td></tr>

                <tr><td><br></td></tr>
                <tr><td><br></td></tr>
                <tr>
                    <td><b>Name:</b></td>
                    <td>James Brown<br></td>
                    <td><b>Current Status:</b></td><td> active<br></td>
                </tr>
                <tr></tr>
                <tr><td><h1>Tuiton Info</h1><br></td></tr>
                <tr><td><b>Expected Salary:</b></td><td> 5000<br></td></tr>
                <tr><td><b>Preferred Medium:</b></td><td> Bangla<br></td></tr>
                <tr><td><b>Preferred Classes:</b></td><td> 1,2,3,4,5,6<br></td></tr>
                <tr><td><b>Preferred Subjects:</b></td><td> Bangla,English,Math,Physics<br></td></tr>
                <tr><td><b>Preferred Areas:</b></td><td> Mirpur-1,Mirpur-2,Mirpur-10<br></td></tr>
            </table>
        </div>

        <div class="column">
            <table>
                <tr><td><br></td></tr>
                <tr><td><br></td></tr>
                <tr><td><br></td></tr>
                <tr><td><br></td></tr>
                <tr><td><b>Member since:</b></td><td> 2 years <br></td></tr>
                <tr><td><b>Last Active:</b></td><td> 2 day ago<br></td></tr>
                <tr><td><b>Level:</b></td><td> 1<br></td></tr>
                <tr><td><b>Experience</b></td><td> 3 years</td></tr>
            </table>
        </div>


    </div>
</div>

</body>
</html>

