@model Entity.UserModels.Admin

@{
    ViewBag.Title = "AdminDashboard";
    Layout = "~/Views/Shared/Loggedin_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        .navbar {
            padding-top: 30px;
        }

        .bar {
            background-color: #2E4053;
        }

        .top {
            height: 94px;
        }

        .mid {
            height: 400px;
        }

        a, label, h1, table {
            color: White;
        }

        td {
            padding-left: 10px;
        }
    </style>

</head>
<body>
  

    <div class="container bar mid">
        <div class="row">
            <div class="col-sm-4">
                <label>Users</label>
                <table>
                    <tr>
                        <th>User</th>
                        <th>Status</th>
                        <th>Last Login</th>
                    </tr>
                    <tr>
                        <td>Bob</td>
                        <td>Active</td>
                        <td>12:30 pm</td>
                    </tr>
                    <tr>
                        <td>Will</td>
                        <td>Inactive</td>
                        <td>10/10/2016</td>
                    </tr>
                </table>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-sm-4">
                <label>Statistics</label>
                <table>
                    <tr>
                        <th>Role</th>
                        <th>No. of Users</th>
                    </tr>
                    <tr>
                        <td>Admin</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>Executive</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>Tutors</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>34</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>

    <br>
    <div class="container bar">
        <footer align="center">AIUB</footer>
    </div>


</body>

</html>
