
@{
    ViewBag.Title = "AdminDashboard";
    Layout = "~/Views/Shared/Loggedin_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
  
<h1>Hello</h1>
</body>

</html>
