

@{
    Layout = "~/Views/Shared/Loggedin_Layout.cshtml";
}

<!DOCTYPE html>

<html>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <form>
                    <div class="form-group">
                        <label for="name">name</label>
                        <input type="text" class="form-control" id="name">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password</label>
                        <input type="password" class="form-control" id="pwd">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                        <label>Profile Picture URL</label>
                        <input type="" class="form-control" id="">
                    </div>
                    <div class="form-group">
                        <label>Gender</label>
                        <input type="" class="form-control" id="">
                    </div>
                    <div class="form-group">
                        <label>Date Of Birth</label>
                        <input type="" class="form-control" id="">
                    </div>
                    <div class="form-group">
                        <label>Mobile Number</label>
                        <input type="" class="form-control" id="">
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <input type="" class="form-control" id="">
                    </div>
                    <div class="form-group">
                        <label>user Since</label>
                        <input type="" class="form-control" id="">
                    </div>
                    <div class="form-group">
                        <label>Last Login</label>
                        <input type="" class="form-control" id="">
                    </div>
                    <input type="radio" name="gender"> Male
                    <input type="radio" name="gender"> Female <br>
                    <input type="submit" name="" value="Save" class="btn btn-success">
                </form>
            </div>
        </div>
    </div>

</body>
</html>
