
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/Loggedin_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-2">
            <label>Name: </label>
        </div>
        <div class="col-lg-3">
            <label>Sajib Hawee</label>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-2">
            <label>Password: </label>
        </div>
        <div class="col-lg-3">
            <label>welcome@1</label>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-2">
            <label>Email address: </label>
        </div>
        <div class="col-lg-3">
            <label>sajib@gmail.com</label>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-2">
            <label>ProfilePictureUrl: </label>
        </div>
        <div class="col-lg-3">
            <img src="~/image/user.png" width="100px" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-2">
            <label>Gender: </label>
        </div>
        <div class="col-lg-3">
            <label>Male</label>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-2">
            <label>Date Of Birth: </label>
        </div>
        <div class="col-lg-3">
            <label>22 Aug 1996</label>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-2">
            <label>Mobilenumber: </label>
        </div>
        <div class="col-lg-3">
            <label>0123456789</label>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-2">
            <label>Address: </label>
        </div>
        <div class="col-lg-3">
            <label>Dhaka, Bangladesh</label>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-2">
            <label>UserSince: </label>
        </div>
        <div class="col-lg-3">
            <label>1 Jan 2017</label>
        </div>
    </div>


</div>

