
@{
    ViewBag.Title = "Request";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style media="screen">
        .card {
            width: 500px;
            height: 300px;
        }

        img {
            width: 150px;
        }

        .right {
            font-size: 20px;
            width: 240px;
        }

        table {
            font-size: 20px;
        }
    </style>

</head>
<body>
    <br>
    <div class="row">
        <div class="col-sm-1">

        </div>
        <div class="col-sm-5">
            <div class="panel panel-info card">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-5" style="padding-right: 0px;width: 175px;">
                            <img src="pic.jpg" class="img-circle">
                        </div>
                        <div class="col-sm-4 right" style="padding-right: 0px;width: 255px;">
                            <p><strong>Sajib Hawee</strong></p>
                            <p><span class="glyphicon glyphicon-envelope"></span> haweewes@gmail.com</p>
                            <p><span class="glyphicon glyphicon-phone"></span> 01928273645</p>
                            <p><span class="glyphicon glyphicon-globe"></span> Dhaka, Bangladesh</p>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3" style="width: 130px;">
                            <label>Requested By:</label>
                        </div>
                        <div class="col-sm-4" style="width:200px;">
                            <table>
                                <tr>
                                    <td>
                                        <p><span class="glyphicon glyphicon-user"></span>Sajib Hawee</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><span class="glyphicon glyphicon-phone"></span> 01923821322</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-info" name="accept">Accept</button>
                                </div>
                                <div class="col-sm-1">
                                    <button type="submit" class="btn btn-danger" name="reject">Reject</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-info card">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-5" style="padding-right: 0px;width: 175px;">
                            <img src="pic.jpg" class="img-circle">
                        </div>
                        <div class="col-sm-4 right" style="padding-right: 0px;width: 255px;">
                            <p><strong>Sajib Hawee</strong></p>
                            <p><span class="glyphicon glyphicon-envelope"></span> haweewes@gmail.com</p>
                            <p><span class="glyphicon glyphicon-phone"></span> 01928273645</p>
                            <p><span class="glyphicon glyphicon-globe"></span> Dhaka, Bangladesh</p>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3" style="width: 130px;">
                            <label>Requested By:</label>
                        </div>
                        <div class="col-sm-4" style="width:200px;">
                            <table>
                                <tr>
                                    <td>
                                        <p><span class="glyphicon glyphicon-user"></span>Sajib Hawee</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><span class="glyphicon glyphicon-phone"></span> 01923821322</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-info" name="accept">Accept</button>
                                </div>
                                <div class="col-sm-1">
                                    <button type="submit" class="btn btn-danger" name="reject">Reject</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




</body>
</html>

