
@{
    ViewBag.Title = "Request";
    Layout = "~/Views/Shared/Loggedin_Layout.cshtml";
}



         <form method="post">
            <fieldset>
                <legend>Request</legend>
                <table align="center" width="500" cellspacing="5"  border="2">
                    
                    <tr>
                        <td>
                            <label>Name: </label>
                            <label>Sajib Hawee</label><br>
                            <label>Mobile: </label>
                            <label>1234567890</label><br>
                            <label>Email: </label>
                            <label>name@gmail.com</label>
                        </td>


                        <td>
                            <table>
                                <tr>
                                    <td>
                                        <img width="50" height="50" class="card-img-top" src="~/image/user.png" /><br />
                                        <a href="#">View</a>
                                        <br />
                                    </td>
                                    <td>
                                        <label>Name: </label>
                                        <label>Something</label><br />
                                        <label>Mobile: </label>
                                        <label>091280891</label><br />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                </table>
            </fieldset>
        </form>

