@{
    ViewBag.Title = "Exam";
    Layout = "~/Views/Shared/TutorLayout.cshtml";
}

<html>
<head>
    <style>
        div.pp {
            padding-left: 25px;
            padding-top: 10px;
        }

        .button {
            background-color: #277ec8;
            border: none;
            color: white;
            cursor: pointer;
            font-size: 14px;
            padding: 16px;
        }

        .button1 {
            background-color: #1f9609;
            border: none;
            color: white;
            cursor: pointer;
            font-size: 16px;
            padding: 16px;
        }
    </style>

</head>
<body>

<form method="Post">

  <fieldset>
      <legend>
         Bangla Exam
      </legend>


    <div>
        <label>1)What's your name</label>
        <br>

        <input type="radio" name="1" value="Tazim" checked="checked">
        <label>Tazim</label>
        <input type="radio" name="1" value="Tazim">
        <label >Tazim</label>
        <input type="radio" name="1" value="Tazim">
        <label>Tazim</label>
        <input type="radio" name="1" value="Tazim">
        <label>Tazim</label>
    </div>


    <div align="center">
        <button name="SubmitButton" class="button1" style="width: 100px;">Submit</button>

    </div>
  </fieldset>

</form>
</body>

</html>