
@{
    ViewBag.Title = "Ranking";
    Layout = "~/Views/Shared/LoggedIn_Layout_Tutor.cshtml";
}

<fieldset>
    <legend>Ranking</legend>
    <table border="1">
        <thead>
        <tr>
            <td>Name</td>
            <td>Level</td>
        </tr>
        </thead>
        <tr>
            <td>Tanimul Haque Khan</td>
            <td>10</td>
        </tr>
        <tr>
            <td>Abul kashem</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Taskin</td>
            <td>100</td>
        </tr>


    </table>

</fieldset>

