
@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/LoggedIn_Layout_Tutor.cshtml";
}

<fieldset>
<legend>Result</legend>
<table border="1">
    <thead>
    <tr>
        <td>Subject</td>
        <td>Marks</td>
    </tr>
    </thead>
    <tr>
        <td>Bangla</td>
        <td>90</td>
    </tr>
    <tr>
        <td>English</td>
        <td>100</td>
    </tr>
    <tr>
        <td>Math</td>
        <td>100</td>
    </tr>


</table>

</fieldset>