@model IEnumerable<Entity.Data.Location>

@{
    ViewBag.Title = "Locations";
    Layout = "~/Views/Shared/Loggedin_Layout.cshtml";
}

<fieldset>
    <legend>
        <b>LOCATION</b>
    </legend>
    <input name="locationtext" type="text" />
    <input type="submit" value="Add" />
</fieldset>
<br />
<br />
<table cellspacing="0" cellpadding="5" border="1">
    <tr>
        <td width="100px"><strong>Location</strong></td>
        <td><stron>Edit</stron></td>
        <td><strong>Remove</strong></td>
    </tr>
    <tr>
        <td width="100px">
            Hello
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", "Home")*@
        </td>
        <td>
            @*@Html.ActionLink("Remove", "Remove", "Home")*@
        </td>
    </tr>
</table>

