

@{
 
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search</title>
    <style>
        .in{
            width:250px;
        }
    </style>
</head>
<body>
<div>
    <form method="post">
        <fieldset align="center">
            <h2>
                   <label>Question Control | Bangla</label> 
            </h2>
            <p>UPLOAD CSV</p>
            <div align="center">
                <input name="" class="form-control in" type="file" value="" />
                <input type="submit" class="form-control in" value="Update" />
                <input type="submit" class="form-control in" value="Download" />
            </div>
        </fieldset>
        <br/>
        <table width="100%" cellspacing="0" border="1" cellpadding="5">

            <thead>
                <tr>
                <td>
                    ID No
                </td>
                <td>
                    Question
                </td>
                <td>
                    A
                </td>
                <td>
                    B
                </td>
                <td>
                    C
                </td>
                <td>
                    D
                </td>
                <td>
                    Answer
                </td>
                
                <td>
                    Difficulty
                </td>
            </tr>
            </thead>

        </table>
        
    </form>
</div>
</body>
</html>


