@model IEnumerable<Entity.Data.Subject>

@{
    ViewBag.Title = "Subjects";
    Layout = "~/Views/Shared/Loggedin_Layout.cshtml";
}

<h2>Subjects</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
        
        </td>
    </tr>
}

</table>
