<!DOCTYPE html>
<html>
<head>
  
    <meta http-equiv="Content-Type" content="text/html charset=utf-8" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link type="text/css" rel="stylesheet" href="css/style.css">
    <link type="text/css" rel="stylesheet" href="css/responsive.css">
  
    <title>Tutor_Layout</title>
 
</head>
<body>
<nav class="navbar navbar-inverse" style="border-radius: 0px;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/Tutor/DashBoard">@Session["UserName"]</a>
        
        </div>
        <ul class="nav navbar-nav">
            
            <li>
                <a href="/Tutor/ViewProfile" class="btn btn-link">
                    Profile
                </a>
            </li>

            <li class="dropdown">
                <a href="/Tutor/Payment" class="btn btn-link">
                    Payment
                </a>
            </li>

            <li class="dropdown">
                <a href="/Tutor/StudentList" class="btn btn-link">
                    Student List
                </a>
            </li>

       
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Blog
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/Tutor/NewBlogPost">New Post</a></li>
                    <li><a href="/Tutor/Blog">My Blog</a></li>
               
                </ul>
            </li>

            <li class="dropdown">
                <a href="/Tutor/Timer" class="btn btn-link">Timer
                </a>
            </li>
        
           
        
       

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Exam
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/Exam/Exam">Take Exam</a></li>
                    <li><a href="/Exam/Result">Result</a></li>
                    <li><a href="/Exam/Ranking">Ranking</a></li>
                </ul>
            </li>

        </ul>

        <ul class="nav navbar-nav navbar-right">
            <a href="/Tutor/Logout" class="btn btn-link">Log Out</a>
        </ul>

    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
           @RenderBody()
        </div>
    </div>
</div>
   


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



</body>
</html>

